.product-card {
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
}
.product-card img {
  border-radius: 10px;
  width: 200px;
  height: 150px;
}
.product-card:hover {
  transform: translateY(-10px);
}
