.alert{
    border: 1px solid white;
    border-radius: 10px;
}
.alert-success{
    background-color: green;
}
.alert-warning{
    background-color: orange;
}
.alert-error{
    background-color: red;
}